.d-grid {
    background-color: $prussian-blue;
}

#stickybtn,
#formRange,
.orderBy,
#orderByName {
    background-color: $copper-red;
}

canvas#myChart {
    background-color: $prussian-blue;
}

@media screen and (max-width: 767px) {
    #chartContainer {
        display: none;
    }

}

#stickybtn {
    z-index: 10;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@media screen and (min-width: 1024px) {
    #stickybtn {
        display: none;
    }

}

#billContainer .card {

    z-index: 2;
}

.dietrolefatture::before {
    position: absolute;
    z-index: -2;
    content: '';
    background: #584d7b;
    height: 20px;
    width: 35px;
    top: 2.2rem;
    right: -0.8rem;
    transform: rotate(-47deg);
}


/* STATUS = DA GESTIRE / TO MANAGE */
.labelofcard.toManage {
    position: absolute;
    z-index: 4;
    /*  content: 'TO MANAGE'; */
    top: 11px;
    right: -14px;
    background: #9f5ec3;
    color: white;
    text-align: center;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);

    :hover {
        cursor: grab;
    }
}


/* STATUS = GESTITA / MANAGED*/
.labelofcard.managed {
    position: absolute;
    z-index: 4;
    /*     content: 'MANAGED'; */
    top: 11px;
    right: -14px;
    background: #3949ab;
    color: white;
    text-align: center;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}