#modifica{
    background-color: rgb(221, 179, 42);
}

#elimina{
    background-color: $danger;
}

#fattura{
    border: 2px solid var(--details);
}

#fattura{
    background-color: var(--details);

}

.usersCard{
    border: 1px solid var(--input);
    ul li:not(:last-child){
        background-color: var(--cardutdbg);
        color: var(--text);
        border: 1px solid var(--input);
    }
}