#modifica:hover{
    background-color: $warning;
    color:white;
}

#elimina:hover{
    background-color: $danger;
    color:white;
} 

#fattura:hover{
    background-color: $secondary;
    color:white;
}
