
/* DARK */
$rich-black-fogra-29: rgba(17, 21, 28, 1);
$prussian-blue: rgba(33, 45, 64, 1);
$charcoal: rgba(54, 65, 86, 1);
$charcoal2: rgba(140, 153, 176, 1);
$tuscan-red: rgba(125, 78, 87, 1);
$copper-red: rgba(214, 104, 83, 1);

/* LIGHT */

$alice-blue: rgba(231, 236, 239, 1);
$yale-blue: rgba(39, 76, 119, 1);
$cerulean-frost: rgba(96, 150, 186, 1);
$baby-blue-eyes: rgba(163, 206, 241, 1);
$battleship-grey: rgba(139, 140, 137, 1);

$dark-jungle-green: rgba(31, 36, 33, 1);
$skobeloff: rgba(33, 104, 105, 1);
$shiny-shamrock: rgba(73, 160, 120, 1);
$eton-blue: rgba(156, 197, 161, 1);
$platinum: rgba(220, 225, 222, 1);

$eggshell: rgba(244, 241, 222, 1);
$terra-cotta: rgba(224, 122, 95, 1);
$independence: rgba(61, 64, 91, 1);
$green-sheen: rgba(129, 178, 154, 1);
$deep-champagne: rgba(242, 204, 143, 1);
