
/* DARK */
$rich-black-fogra-29: rgba(17, 21, 28, 1);
$prussian-blue: rgba(33, 45, 64, 1);
$charcoal: rgba(54, 65, 86, 1);
$charcoal2: rgba(140, 153, 176, 1);
$tuscan-red: rgba(125, 78, 87, 1);
$copper-red: rgba(214, 104, 83, 1);

$secondary: $copper-red;
$primary: $charcoal2;
$input-bg: $rich-black-fogra-29;
$input-disabled-bg: $rich-black-fogra-29;
$input-focus-color: $charcoal2;

/* LIGHT */
$alice-blue: rgba(231, 236, 239, 1);
$yale-blue: rgba(39, 76, 119, 1);
$cerulean-frost: rgba(96, 150, 186, 1);
$baby-blue-eyes: rgba(163, 206, 241, 1);
$battleship-grey: rgba(139, 140, 137, 1);
