
$rich-black-fogra-29: rgba(17, 21, 28, 1);
$prussian-blue: rgba(33, 45, 64, 1);
$charcoal: rgba(54, 65, 86, 1);
$charcoal2: rgba(140, 153, 176, 1);
$tuscan-red: rgba(125, 78, 87, 1);
$copper-red: rgba(214, 104, 83, 1);


$gradient-top: linear-gradient(0deg, #11151cff, #212d40ff, #364156ff, #7d4e57ff, #d66853ff);
$gradient-right: linear-gradient(90deg, #11151cff, #212d40ff, #364156ff, #7d4e57ff, #d66853ff);
$gradient-bottom: linear-gradient(180deg, #11151cff, #212d40ff, #364156ff, #7d4e57ff, #d66853ff);
$gradient-left: linear-gradient(270deg, #11151cff, #212d40ff, #364156ff, #7d4e57ff, #d66853ff);
$gradient-top-right: linear-gradient(45deg, #11151cff, #212d40ff, #364156ff, #7d4e57ff, #d66853ff);
$gradient-bottom-right: linear-gradient(135deg, #11151cff, #212d40ff, #364156ff, #7d4e57ff, #d66853ff);
$gradient-top-left: linear-gradient(225deg, #11151cff, #212d40ff, #364156ff, #7d4e57ff, #d66853ff);
$gradient-bottom-left: linear-gradient(315deg, #11151cff, #212d40ff, #364156ff, #7d4e57ff, #d66853ff);
$gradient-radial: radial-gradient(#11151cff, #212d40ff, #364156ff, #7d4e57ff, #d66853ff);

$secondary: $copper-red;
$primary: $charcoal2;
$input-bg: $rich-black-fogra-29;
$input-disabled-bg: $rich-black-fogra-29;
$input-focus-color: $charcoal2;